[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=root
ExecStart={{ kafka_cluster.base_dir }}{{ kafka_cluster.work_dir }}/bin/zookeeper-server-start.sh {{ kafka_cluster.base_dir }}{{ kafka_cluster.work_dir }}/config/zookeeper.properties
ExecStop={{ kafka_cluster.base_dir }}{{ kafka_cluster.work_dir }}/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target